vs/
x64/
Debug/
Release/
TinyRayTracing.vcxproj.filters
TinyRayTracing.vcxproj.user
TinyRayTracing.filters
TinyRayTracing.user
cmake-build-debug/
cmake-build-release/
.idea/
out/
vcpkg_installed/
Results/
*.spv